/* Global styles */

body {
background-color: #fff;
color: #333;
height: 979px;
width: 975px;
}

#notice {
border: 2px solid red;
padding: 1em;
margin-bottom: 2em;
background-color: #f0f0f0 ;
font: bold smaller sans-serif;
}

h1 {
font: 150% sans-serif;
color: #226 ;
border-bottom: 3px dotted #77d ;
}

/* Styles for main page */

#banner {
background: #9c9 ;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 2px solid;
font: small-caps 40px/40px "Times New Roman", serif;
color: #282 ;
text-align: center;
}
#banner img {
float: left;
}
#columns {
background: #141 ;
}
#main {
margin-left: 13em;
padding-top: 4ex;
padding-left: 2em;
background: white;
}
#side {
float: left;
padding-left: 1em;
padding-bottom: 1em;
width: 12em;
background: #141 ;
}
#side a {
color: #bfb ;
font-size: small;
}

/* Styles for agent form */

.reo-form fieldset {
 background: #efe;
}
.reo-form legend {
color: #dfd ;
background: #141 ;
font-family: sans-serif;
padding: 0.2em 1em;
}
.reo-form label {
/*width: 5em;*/
/* float: left; */
/*text-align: right;*/
padding-top: 0.2em;
margin-right: 0.1em;
/*display: block;*/
}
.reo-form select, .reo-form textarea, .reo-form input {
margin-left: 0.5em;
}
.reo-form .submit {
margin-left: 4em;
}
.reo-form div {
margin: 0.5em 0;
}

/* The error box */
.fieldWithErrors {
padding: 2px;
background-color: #EEFFEE;
display: inline;
}
.fieldWithErrors * {
background-color: red;
}
#errorExplanation {
width: 400px;
border: 2px solid red;
padding: 7px;
padding-bottom: 12px;
margin-bottom: 20px;
background-color: #f0f0f0 ;
}
#errorExplanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
background-color: #c00 ;
color: #fff ;
}
#errorExplanation p {
color: #333 ;
margin-bottom: 0;
padding: 5px;
}
#errorExplanation ul li {
font-size: 12px;
list-style: square;
}

#found_agents {
overflow:auto;width:145px;height:350px;border:2px solid black;padding-left:5px
}
#found_agents h3 {
text-decoration:underline;background:#bfb;width:7em
}
#found_agents a:visited 
{ color: #666; 
}

/* Styles for products/index */
#asset-company-list table {
border-collapse: collapse;
}
#asset-company-list table tr td {
padding: 5px;
vertical-align: top;
}
#asset-company-list .list-actions {
font-size: x-small;
text-align: right;
padding-left: 1em;
}
#asset-company-list .list-line-even {
background: #e0f8f8 ;
}
#asset-company-list .list-line-odd {
background: #f8b0f8 ;
}